button {
    border: 20px ;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgb(108, 210, 247);
    border-radius: 25px;
    background-color: rgb(38, 47, 49);
    box-shadow: inset 2px 2px 3px rgba(108, 210, 247),
                inset -2px -2px 3px rgba(108, 210, 247);
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: #75e1f2;
}

button:active {
    box-shadow: inset  rgb(255, 255, 255,1),
                inset  rgb(255, 255, 255,1);
    background-color: #4bb9ca;
    color: #333;
    text-shadow: 1px 1px 1px #333;
}
